@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Spline-Sans/SplineSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Spline-Sans/SplineSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Spline-Sans/SplineSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Spline-Sans/SplineSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Spline-Sans/SplineSans-Bold.woff2') format('woff2');
}

@layer utilities {
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
  }
}